.rows {
    width: 600px;
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
}

.column {
    height: auto;
    border-right: 1px solid black;
}

.painted {
    background-color: black;
}